@import 'styles/colors.scss';

.App {
  text-align: center;
  background-color: $white;
}

.App-code-image {
  max-width: 10rem;
  margin: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3rem;
}

.App-header {
  background-color: $black;
  height: 1.5rem;
  padding: 3rem;
  color: $white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
